<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a href="#" class="list-group-item clearfix bg-body-secondary p-3 my-2 d-flex justify-content-between align-items-center w-50" *ngFor="let item of recipes">
            <div class="pull-left w-75">
                <h4 class="list-group-item-secondary">{{ item.name }}</h4>
                <p class="">{{ item.description }}</p>
            </div>
            <div class="pull-right">
                <img [src]="item.imagePath" alt="" class="img-fluid" style="max-height: 50px;">
            </div>
        </a>
    </div>
</div>

